<div class="row">
    <div class="col-md-12">

      
    <% flash.get('mensaje').forEach(function (msg) { %>
      <div class="alert alert-success" role="alert">
        <%=msg%>
      </div>
      <% }) %>
  

      <h2>Admin - Administradores</h2>
  
      <table class="table">
        <thead>
          <tr>
            <th>id</th>
            <th>Nombre</th>
            <th>email</th>
            <th>activo</th>
            <th>acciónes</th>
          </tr>
        </thead>
        <tbody>
          <%  administradores.forEach( administrador => { %>
            <tr>
              <td><%=administrador.id%></td>
              <td><%=administrador.nombre%></td>
              <td><%=administrador.email%></td>
              <td><%=administrador.activo ? "Si" : "No"%></td>
              <td>
                  <!--falta validar que no se pueda desactivar el mismo -->
                <% if (administrador.activo) { 
                    if(session.admin.id == administrador.id){ %>
                        <a>Accion no disponible</a>
                        <%}else{
                    %>
                <a href="/admin/desactivar-administrador/<%=administrador.id%>" class="btn btn-info">Desactivar administrador</a>
                <% }
                     } else { %>
                <a href="/admin/activar-administrador/<%=administrador.id%>" class="btn btn-primary">Activar administrador</a>
                <% } %>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>

    </div>
  
  </div>
  